.actionDiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 550px;
    width: 200px;
    margin-left: 350px;

}

.btn{
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.btn i{
    margin-right: 10px;
}

.downButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.dice{
    width: 90px;
    height: 90px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.scoreInput{
    height: 30px;
    width: 110px;
    text-align: center;
}

